body {
	background-color: #CCCCCC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #FF9900;
	text-decoration: none;
}
.cn {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: 003678;
	text-decoration: none;
}
.cn:link {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: 003678;
	text-decoration: none;
}
.cn:visited {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: 003678;
	text-decoration: none;
}
.cn:hover {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
}
.table {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: 7da0c3;
}
.table1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: 7da0c3;
}
.cn1 {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.table2 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: 7da0c3;
	border-bottom-color: 7da0c3;
}
.table3 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: 7da0c3;
}
.cn2 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
}
.cn3 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 004bb8;
	text-decoration: none;
}
.cn3:link {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 004bb8;
	text-decoration: none;
}
.cn3:visited {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 004bb8;
	text-decoration: none;
}
.cn3:hover {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #FF9900;
	text-decoration: none;
}
.cn4 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.cn4:link {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.cn4:visited {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.cn4:hover {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
.cn5 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	font-weight: bold;
	color: #FF3300;
	text-decoration: none;
}
.table4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: cfcfcf;
}
.cn6 {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.cn7 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 003678;
	text-decoration: none;
}
.cn7:link {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 003678;
	text-decoration: none;
}
.cn7:visited {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 003678;
	text-decoration: none;
}
.cn7:hover {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #FF9900;
	text-decoration: none;
}
.table5 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: bcd5ec;
	border-right-color: bcd5ec;
	border-bottom-color: bcd5ec;
	border-left-color: bcd5ec;
}
.table6 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: e8ede7;
}
.cn8 {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: 003678;
	text-decoration: none;
}
.cn8:link {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: 003678;
	text-decoration: none;
}
.cn8:visited {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: 003678;
	text-decoration: none;
}
.cn8:hover {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
.table7 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: cfcfcf;
	border-bottom-color: cfcfcf;
	border-left-color: cfcfcf;
}
.table8 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: 9abbc9;
}
.table9 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.cn9 {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.table10 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: cccccc;
}
.table11 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: adb7bf;
	border-bottom-color: adb7bf;
}
.cn10 {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.cn10:link {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.cn10:visited {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.cn10:hover {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #FF9900;
	text-decoration: none;
}.table12 {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: 3a6d89;
}
.table13 {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: c6c6c6;
}
.table14 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: 3a6d89;
}
.cn11 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #333333;
	text-decoration: underline;
}
.cn11:link {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #333333;
	text-decoration: underline;
}
.cn11:visited {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #333333;
	text-decoration: underline;
}
.cn11:hover {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #FF9900;
	text-decoration: underline;
}
.cn12 {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.cn12:link {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.cn12:visited {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.cn12:hover {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #FF9900;
	text-decoration: none;
}
.cn13 {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 9c4200;
	text-decoration: none;
}
.cn13:link {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 9c4200;
	text-decoration: none;
}
.cn13:visited {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: 9c4200;
	text-decoration: none;
}
.cn13:hover {
	font-size: 12px;
	font-style: normal;
	line-height: 24px;
	color: #0099CC;
	text-decoration: none;
}
.table15 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: a3a3a3;
}
.table16 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: a3a3a3;
}
.table17 {
	border: 1px solid #999999;
}
.table18 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: a1a1a1;
	border-bottom-color: a1a1a1;
	border-left-color: a1a1a1;
}
.table19 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: 14679d;
}
.cn14 {
	font-family: "黑体";
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #349CD1;
	text-decoration: none;
}
.cn14:link {
	font-family: "黑体";
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #349CD1;
	text-decoration: none;
}
.cn14:visited {
	font-family: "黑体";
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #349CD1;
	text-decoration: none;
}
.cn14:hover {
	font-family: "黑体";
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
