A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #cc3300; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 10pt
}
TD {
	FONT-SIZE: 10pt; LINE-HEIGHT: 150%
}
