body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	SCROLLBAR-FACE-COLOR: #D4D0C8 ;
 	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR: #5385A5;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #efefef;
	SCROLLBAR-DARKSHADOW-COLOR: #5385A5;
}
.button {
	font-size: 12px;
	background-image: url('/internet/image/button.gif');
	background-repeat: no-repeat;
	height: 24px;
	width: 75px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 23px;
	text-decoration: none;
	background-attachment: fixed;
	background-position: center center;
	cursor: hand;
}
.button_under {
	font-size: 12px;
	line-height: 23px;
	font-weight: bold;
	color: #A40000;
	text-decoration: none;
	background-attachment: fixed;
	background-image: url('/internet/image/button2.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 24px;
	width: 73px;
}
.button_02_blue {
	font-size: 12px;
	color: #000000;
	background-attachment: fixed;
	background-image: url('/internet/image/button_bg_blue.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 54px;
	border: none;
	cursor: hand;
	line-height: 20px;
}
.button_eight {
	font-size: 12px;
	color: #FFFFFF;
	background-attachment: fixed;
	background-image: url('/internet/image/button_bg_eight.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 108px;
	border: none;
	cursor: hand;
	line-height: 20px;
}
.button_blue_eight {
	font-size: 12px;
	color: #000000;
	background-attachment: fixed;
	background-image: url('/internet/image/button_eight_blue.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 110px;
	border: none;
	cursor: hand;
	line-height: 20px;
}
.text {
	font-size: 12px;
	color: #000000;
	line-height: 20px;
}
.textb {
	font-size: 12px;
	color: #000000;
	line-height: 20px;
	font-weight: bold;
}
.text_wirte {
	font-size: 12px;
	color: #FFFFFF;
}
.text_red {
	font-size: 12px;
	color: #ff0000;
}
.menu21 {
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;
	cursor: hand;
}
.menu22 {
	font-size: 12px;
	line-height: 22px;
	color: #D50000;
	text-decoration: none;
	cursor: hand;
}
.menu31 {
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #114489;
	text-decoration: none;
	cursor: hand;
}
.menu32 {
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #FF9600;
	text-decoration: none;
	cursor: hand;
}
.menu33{
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #114489;
	text-decoration: none;
	cursor: hand;
}
a.write:link {
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
a.write:visited {
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
a.write:hover {
	font-size: 12px;
	line-height: 22px;
	color: #F9BB00;
	text-decoration: none;
}
.table {
	border: 1px solid #DCDCDC;
}
.input {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5D5D5D;
	border-right-color: #B3B2B2;
	border-bottom-color: #B3B2B2;
	border-left-color: #5D5D5D;
}
.inputOA {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
}
.button_02 {
	font-size: 12px;
	color: #FFFFFF;
	background-attachment: fixed;
	background-image: url('/internet/image/button_bg.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 54px;
	border: none;
	cursor: hand;
	line-height: 20px;
}
.button_03 {
	font-size: 12px;
	color: #FFFFFF;
	background-attachment: fixed;
	background-image: url('/internet/image/button_bg2.gif');
	background-repeat: no-repeat;
	background-position: center center;
	height: 18px;
	width: 77px;
	border: none;
	cursor: hand;
	line-height: 20px;
}
.td_title {
	background-color: #4A82D1;
	font-size: 12px;
	line-height: 26px;
	color: #FFFFFF;
}
.td_title2 {
	background-color: #cfffff;
	font-size: 12px;
	line-height: 26px;
	color:#000000 ;
}
.td1 {
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
}
.td2 {
	background-color: #E8F5FF;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
}

.td3 {
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	color: #000000;

}
.room1 {
	background-color: #FFCC99;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
}
.room2 {
	background-color: #CC66FF;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
}
.room3 {
	background-color: #FF0000;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
}
.button_login {
	background-attachment: fixed;
	background-image: url('/internet/image/login.gif');
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	height: 23px;
	width: 50px;
	cursor: hand;
	border: none;
}

.button_reset {
	background-attachment: fixed;
	background-image: url('/internet/image/rewrite.gif');
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	height: 23px;
	width: 50px;
	cursor: hand;
	border: none;
}

.textb_wirte {
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
}


.defaultcsshead
{
	text-indent: 6px;
	font-size: 12px;
	background-image: url('/internet/image/label_01.gif');
	border-bottom: 1px #DCDCDC solid;
	cursor: hand;
	color:#555555;
	FONT-FAMILY: "宋体";
	padding-top:4px

}

.defaultcss
{
	text-indent: 6px;
	font-size: 12px;
	background-image: url('/internet/image/label_bg.gif');
	border-bottom: 1px #DCDCDC solid;
	cursor: hand;
	color:#555555;
	FONT-FAMILY: "宋体";
	padding-top:4px
}


.defaultcssother
{
	text-indent: 6px;
	font-size: 12px;
	background-image: url('/internet/image/label_02.gif');
	border-bottom: 1px #DCDCDC solid;
	cursor: hand;
	color:#555555;
	FONT-FAMILY: "宋体";
	padding-top:4px
}






.activecsshead
{
	
	background-image: url('/internet/image/label_03.gif');
	text-indent: 6px;
	font-size: 12px;
	cursor: hand;
	border-bottom: 1px #DCDCDC solid;

}

.activecss
{
	
	background-image: url('/internet/image/label_bg2.gif');
	text-indent: 6px;
	font-size: 12px;
	cursor: hand;
	border-bottom: 1px #DCDCDC solid;
	color:#ffffff
}


.activecssother
{
	
	background-image: url('/internet/image/label_04.gif');
	text-indent: 6px;
	font-size: 12px;
	cursor: hand;
	border-bottom: 1px #DCDCDC solid;
}

.fStandard-FirstPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 9px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url('/internet/image/firstpage.gif');
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}
.fStandard-PreviousPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 8px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url('/internet/image/prepage.gif');
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}
.fStandard-NextPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 8px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url('/internet/image/nextpage.gif');
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}
.fStandard-title{
	CURSOR : hand;
	text-decoration: none;
}
.fStandard-LastPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 9px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url('/internet/image/lastpage.gif');
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}

a:link {
	font-size: 12px;
	line-height: 22px;
	color: #003333;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 22px;
	color: #003333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 22px;
	color: #FF6600;
	text-decoration: none;
}




.getfouce {
	cursor: default;
	text-indent: 6px;
	font-size: 12px;
	background-color: #ffffff;
	color:#000000;
	FONT-FAMILY: "宋体";
	font-weight:bold
}

.lostfouce {
	text-indent: 6px;
	font-size: 12px;
	background-image: url('/internet/image/tab5.gif');
	border-bottom: 1px #ff0000 solid;
	cursor: hand;
	color:#555555;
	FONT-FAMILY: "宋体";
	padding-top:4px
}

.lostfouce_over {
	text-indent: 6px;
	font-size: 12px;
	cursor: hand;
	background-image: url('/internet/image/tab9.gif');
	border-bottom: 1px #000000 solid;
}


.bd {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#999999,strength=3);
}

.tleft {
	background-image: url('/internet/image/tab1.gif');
}

.tright {background-image: url('/internet/image/tab3.gif');}

.ttop {background-image: url('/internet/image/tab2.gif');}

.ttop_over {background-image: url('/internet/image/tab8.gif');}

.tbottom {background-image: url('/internet/image/tab4.gif');}

.tbottom2 {background-image: url('/internet/image/tab6.gif');}

.tbottom3{
	background-image: url('/internet/image/tab7.gif');
	border-bottom: 1px #000000 solid;
}

.tdwf {
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}



.divwf1 {
	
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	font-weight:bold;
}

.divwf2 {
	
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	padding-top:10px;
	padding-left:10px;
}





.state_empty {
	font-size: 12px;
	background-color: #ffffff;
	line-height: 14px;
	
	text-decoration: none;
	color: #000000;
	cursor: hand;
 
}

.state_school {
	font-size: 12px;
	background-color: #88ddff;
	line-height: 14px;
	text-decoration: none;
	color: #000000;
	cursor: hand;

}

.state_other {
	font-size: 12px;
	background-color:#ffdd11;
	line-height: 14px;
	text-decoration: none;
	color: #000000;
	cursor: hand;
  
}
.state_selected {
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	color: #000000;
	cursor: hand;
    over:   expression(onmouseover=function(){this.style.backgroundColor="#FF0000"});   
    out:   expression(onmouseout   =function(){this.style.backgroundColor="#FFFFFF"}); 
	
}
 .selected {   
      over:   expression(onmouseover=function(){this.style.backgroundColor="#FF0000"});   
      out:   expression(onmouseout   =function(){this.style.backgroundColor="#FFFFFF"});   
 }   
 
.reptorTitle {   
	font-size: 14;
	color: #FF9900;
	font-weight: bold;    
}   
.td5 {
	background-color: #E8F5FF;
	font-size: 14;
	color: #FF9900;
	font-weight: bold; 
}
 