.autofinish {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #0000cc; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: arial
}
.autofinish_over {
	FONT-SIZE: 12px; BACKGROUND: #c4e4ff; MARGIN: 5px; COLOR: #0000cc
}
.autofinish TD {
	FONT-SIZE: 12px
}

.group_1 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #CCCC00;
}
.group_2 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #FFCC00;
}
.group_3 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #66CCCC;
}
.group_4 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #996666;
}
.group_5 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #FFCC99;
}
.group_6 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #FF6600;
}
.group_7 {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	background-color: #0066CC;
}



