body
{
	margin: 6pt;
}

td
{
	font-family: ו;
	font-size: 12px;
	color: #000000;
}

.bd
{
	FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#999999,strength=3);
}

.tleft
{
	background-image: url('tab1.gif');
}

.tright{background-image: url('tab3.gif');}

.ttop{background-image: url('tab2.gif');}

.ttop_over{background-image: url('tab8.gif');}

.tbottom{background-image: url('tab4.gif');}

.tbottom2{background-image: url('tab6.gif');}

.tbottom3
{
	background-image: url('tab7.gif');
	border-bottom: 1px #000000 solid;
}

.getfouce
{
	cursor: default;
	text-indent: 6px;
	font-size: 12px;
	background-color: #ffffff;
	color:#000000;
	FONT-FAMILY: "ו";
	font-weight:bold
}

.lostfouce
{
	text-indent: 6px;
	font-size: 12px;
	background-image: url('tab5.gif');
	border-bottom: 1px #ff0000 solid;
	cursor: hand;
	color:#555555;
	FONT-FAMILY: "ו";
	padding-top:4px
}

.lostfouce_over
{
	text-indent: 6px;
	font-size: 12px;
	cursor: hand;
	background-image: url('tab9.gif');
	border-bottom: 1px #000000 solid;
}