.blue_text {  
	font-family: "宋体"; 
	font-size: 12px; 
	color: #006699;
	text-decoration: none
}
.window01 {	
	BORDER-BOTTOM: #6BC7E7 0px solid; 
	BORDER-LEFT: #6BC7E7 0px solid; 
	BORDER-RIGHT: #6BC7E7 0px solid; 
	BORDER-TOP: #6BC7E7 0px solid; 
	background-color: #97D5EC; 
	font-family: "宋体"; 
	font-size: 12px; 
	color: #FFFFFF;
}
A.topMenu {
	color : White;	
	text-decoration : none;
	background : transparent;
}
A.leftMainMenu {
	color : White;
	text-decoration : none;
	background : transparent;
}
A.leftChildMenu {
	color : #006699;
	text-decoration : none;
	background : transparent;
}
.topMenu {
	background : #014D98;
}
.currentTopMenu{
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none;
	background : #F59A13;
}
.currentLeftMenu {
	color : #F59A13;
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none		
}
.currentParentLeftMenu {
	background : #F59A13;
	color : #FFFFFF;
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none	
}
.leftMenu {
	background : #6699CC;
	color : #FFFFFF;
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none	
}
TABLE.hci {
	background : #006699;
	font-family : "宋体";
	font-size : 10pt;
	border:0px;
	}
DIV.title {
	font-family : "华文新魏";
	font-size : 18px;
	}
TR.title, TD.title {
	background : White;
	font-family : "宋体";
	font-weight : bold;
	font-size : 10pt;
	color : #F59A13;
	}
TR.head, TD.head {
	background : #6699CC;
	font-family : "宋体";
	font-size : 10pt;
	color : #FFF5EE;
	font-weight : 400;
}
TR.bottom, TD.bottom {
	background : #FFE4B5;
	height : 15px;
	font-family : "宋体";
	font-size : 10pt;
}
TR.content, TD.content{
	background : #D7EFF8;
	height : 15px;
	font-family : "宋体";
	font-size : 10pt;
}
.must {
	background : #F5C274;
	color : white;
	font-weight : bold;
}
.t_checkbox{
cursor:default;
margin-bottom:3;
height:13;
width:13;
padding-left:13;
}

.t_root{
cursor:default;
}

.t_label{
border:1px solid #FFFFFF;
padding-left:3;
padding-right:3;
height:18;
font-size:13;
}
.t_list_style_label{
border:0px solid #FFFFFF;
padding-left:3;
padding-right:3;
height:18;
}
.readOnlyFld{
cursor:default;
background-color:#EEEEEE;
color:#666666;
}

.gridFld{
	width:'100%';
	border:2px solid #FFFFFF;
	margin-top:-1;
	margin-bottom:-1;
}

.gridReadOnlyFld{
	cursor:default;
	width:'100%';
	border-width:0;
	color:#666666;
	margin-top:-1;
	margin-bottom:-1;
}

.assIcon {
	visibility:hidden;
	position:relative;
	margin-top:-23;
	text-align:right;
}
.nLabel{
	background-color:"#FFFEEF";
	text-align:"right";
	padding-right:5;
	width:100;
	word-break:keep-all;
}

.paginationBtn{
	font-size:17;
	cursor:hand;
}
.field{
 background-color:"#FFFFFF";
}
A.treeLeft:link {text-decoration:none;color:#000000;}
A.treeLeft:visited{text-decoration:none;color:#000000;}
A.treeLeft:active{text-decoration:none;color:#000000;}

A.apage:link {COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 12px; TEXT-DECORATION: none}
A.apage:visited{COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 12px; TEXT-DECORATION: none}
A.apage:active{COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 12px; TEXT-DECORATION: none}}
A.apage:hover {COLOR: #ff0000;  FONT-FAMILY: arial; FONT-SIZE: 12px;TEXT-DECORATION: underline}

TD.tdpage{COLOR: #000000; FONT-FAMILY: arial; FONT-SIZE: 12px;}

.Result-page {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	background-color: #FFFFFF;
	color: #000000;
}
.Result-pagenum {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-align: left;
}
.Result-pagenava {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-align: right;
}
.table_first{
        width:100%; 
        height:100%;
        border-color:#B6B5B5;
        FONT-SIZE: 10pt; 
        border:1px;
        FONT-FAMILY: "宋体" ;
        border-collapse: collapse;
        
}
