.login_css {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: right;
	height: 30px;
}
.login_bj {
	background-image: url(../images/login_bj.gif);
	background-repeat: repeat-x;
	height: 43px;
}
.login_bk1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B1B3B4;
	border-bottom-color: #B1B3B4;
	height: 320px;
}
.text_bj {
	background-image: url(../images/text_bj.gif);
	height: 326px;
	width: 389px;
	background-repeat: no-repeat;
}
.denglu {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	height: 20px;
	width: 60px;
}
.login_right {
	text-align: left;
	padding-left: 12px;
	font-family: "??";
	font-size: 12px;
	color: #000000;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	height: 14px;
}
