.blue_text {  
	font-family: "宋体"; 
	font-size: 12px; 
	color: #006699;
	text-decoration: none
}
.window01 {	
	BORDER-BOTTOM: #6BC7E7 0px solid; 
	BORDER-LEFT: #6BC7E7 0px solid; 
	BORDER-RIGHT: #6BC7E7 0px solid; 
	BORDER-TOP: #6BC7E7 0px solid; 
	background-color: #97D5EC; 
	font-family: "宋体"; 
	font-size: 12px; 
	color: #FFFFFF;
}
A.topMenu {
	color : White;	
	text-decoration : none;
	background : transparent;
}
A.leftMainMenu {
	color : White;
	text-decoration : none;
	background : transparent;
}
A.leftChildMenu {
	color : #006699;
	text-decoration : none;
	background : transparent;
}
.topMenu {
	background : #014D98;
}
.currentTopMenu{
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none;
	background : #F59A13;
}
.currentLeftMenu {
	color : #F59A13;
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none		
}
.currentParentLeftMenu {
	background : #F59A13;
	color : #FFFFFF;
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none	
}
.leftMenu {
	background : #6699CC;
	color : #FFFFFF;
	font-family: "宋体"; 
	font-size: 12px; 
	text-decoration: none	
}
TABLE.hci {
	background : #006699;
	font-family : "宋体";
	font-size : 10pt;
	border:0px;
	}
DIV.title {
	font-family : "华文新魏";
	font-size : 18px;
	}
TR.title, TD.title {
	background : White;
	font-family : "宋体";
	font-weight : bold;
	font-size : 10pt;
	color : #F59A13;
	}
TR.head, TD.head {
	background : #6699CC;
	font-family : "宋体";
	font-size : 10pt;
	color : #FFF5EE;
	font-weight : 400;
}
TR.bottom, TD.bottom {
	background : #FFE4B5;
	height : 15px;
	font-family : "宋体";
	font-size : 10pt;
}
TR.content, TD.content{
	background : #D7EFF8;
	height : 15px;
	font-family : "宋体";
	font-size : 10pt;
}
.must {
	background : #F5C274;
	color : white;
	font-weight : bold;
}
