<style>
标准的信息列表页面元素风格
定义导航条风格
.null
{
}
.Standard-fontsize{
  font-size:12px;
}
/** 工作区Body标准属性1 **/
.Standard-BodyStyle{
  overflow-y:scroll;
  background-color:#EFF7FF;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
/**学院管理CSS设置**/
.Standard-BodyStyleblue{
  overflow-y:scroll;
  background-color:#EBFCFE;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
/**11**/
.td0 {
	font-size: 12px;
}
/**teacher**/
.Standard-BodyStylered{
  overflow-y:scroll;
  background-color:#FFEFF0;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}

/**round**/
.Standard-BodyStyleyellow{
  overflow-y:scroll;
  background-color:#F7F1E7;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}

/** 工作区Body标准属性2 **/
.Standard-BodyStyle2{
  overflow-y:scroll;
  background-color:#FFAC6E;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}


/**student**/
.Standard-BodyStyleblue{
  overflow-y:scroll;
  background-color:#EBFCFE;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
/**teacher**/
.Standard-BodyStylered{
  overflow-y:scroll;
  background-color:#D51D23;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}

/**round**/
.Standard-BodyStyleyellow{
  overflow-y:scroll;
  background-color:#F7A404;
  SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
  SCROLLBAR-SHADOW-COLOR: buttonface;
  SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
  SCROLLBAR-TRACK-COLOR: #eeeeee;
  SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}

/** 定义导航条字体属性 **/
/** 放入Standard-Navigator风格定义内**/
.Standard-NavigatorTableStyle{
  width:100%;
  height:25px;
  border:0px;
  cellpadding:0px;
  cellspacing:0px;
  background-image:url(/internet/images/functionframe/blue.gif);
  font-size:12px;
  color:#FFFFFF;
}

/**student**/
.Standard-NavigatorTableStyleblue{
  width:100%;
  height:25px;
  border:0px;
  cellpadding:0px;
  cellspacing:0px;
  background-image:url(/internet/images/functionframe/blue2.gif);
  font-size:12px;
  color:#FFFFFF;
}
/**teacher**/
.Standard-NavigatorTableStylered{
  width:100%;
  height:25px;
  border:0px;
  cellpadding:0px;
  cellspacing:0px;
  background-image:url(/internet/images/functionframe/red.gif);
  font-size:12px;
  color:#FFFFFF;
}
/**round**/
.Standard-NavigatorTableStyleyellow{
  width:100%;
  height:25px;
  border:0px;
  cellpadding:0px;
  cellspacing:0px;
  background-image:url(/internet/images/functionframe/yellow.gif);
  font-size:12px;
  color:#FFFFFF;
}

/** 页首导航条可操作区风格 **/
.Standard-NavigatorLinkStyle{
  color:yellow;
  text-decoration:none;
}

/** 页首导航条图标 **/
.Standard-NavigatorLogo{
  width:12px;
  background-image:url(/internet/images/functionframe/Bar_lable.gif);
}

/* 定义工具栏主体风格 */
.Standard-ToolbarTableStyle{
  width:100%;
  border:0px;
  cellspacing:0px;
  cellpadding:0px;
  background-color:#C6D4E2;
  height:25px;
}

/**student**/
.Standard-ToolbarTableStyleblue{
  width:100%;
  border:0px;
  cellspacing:0px;
  cellpadding:0px;
  background-color:#BFF2F8;
  height:25px;
}

/**teacher**/
.Standard-ToolbarTableStylered{
  width:100%;
  border:0px;
  cellspacing:0px;
  cellpadding:0px;
  background-color:#FEE0E1;
  height:25px;
}

/**round**/
.Standard-ToolbarTableStyleyellow{
  width:100%;
  border:0px;
  cellspacing:0px;
  cellpadding:0px;
  background-color:#FFF2D9;
  height:25px;
}

/** 定义工具栏单元格风格 **/
.Standard-ToolbarTableTdStyle{
  height:45px;
  width:8%;
}

/** 定义标题栏单元格风格 **/
.Standard-TileTableStyle{
  width:96%;
  border:0px;
  cellspacing:0px;
  cellpadding:0px;
  FONT-SIZE:14px;
  font-weight:600;
}

/** 定义表格头部信息风格 **/
.Standard-LabelTableStyle{
  width:96%;
  border:2px;
  cellpadding:1px;
  cellspacing:0px;
  FONT-SIZE:12px;
  line-height:20px;
  background-color:#F7FFFF;
}
.Standard-LabelTableTdStyle{
  FONT-SIZE:14px;
  font-weight:600;
}

/** 定义表格标题风格 **/
.Standard-LabelContent_Table
{
  /**width:96%;*/
  FONT-SIZE:12px;
  line-height:20px;
  background-color:#F7FFFF;
}

/** 定义表格标题风格 **/
.Standard-LabelContent_Table2
{
  width:91%;
  FONT-SIZE:12px;
  line-height:20px;
  background-color:#F7FFFF;
}

/** 定义下拉框表格风格 **/
.Standard-OptionContent_Table
{
  width:90%;
  FONT-SIZE:13px;
  line-height:20px;
}

/** 定义下拉框表格风格 **/
.Standard-Select_Table
{
  FONT-SIZE:13px;
  line-height:20px;
}

/** 定义输入域风格 **/
.Standard-InputStyle
{
  border :1px #2151B5 solid;
  background-color:transparent;
}
/** 定义非输入域风格--无边框显示 **/
.Standard-NONInputStyle
{
  border :0px #2151B5 solid;
  background-color:transparent;
}
/** 定义只读输入域风格 **/
.Standard-ReadOnlyInputStyle
{
  border :1px #2151B5 solid;
  background-color:#F1F1F0;
}

/** 定义输入域标题风格 **/
.Standard-InputTitleStyle
{
  background-color:#C6E7FF;
  text-align:right;
}

/** 定义工作区页面标题风格 **/
.Standard-WorkPageTitleStyle{
  Color:blue;
  Background-Color:transparent;
  Font-size:25px;
  Text-Align:center;
  font-weight:600;
}

/** 定义信息列表页面名称风格 **/
.Standard-PageTitleStyle{
  Color:#000000;
  Background-Color:transparent;
  Font-size:28px;
  Text-Align:center;
  font-weight:600;
}

/** 资产分类选择页面资产类别标题 **/Standard-ListDoubleTRStyle
.Standard-AssetTypeTitleStyle{
  background:transparent url(/internet/images/functionframe/bgtitle.gif) no-repeat fixed center;
  text-align:center;
  font-size:23px;
  height:28px;
}

/** 明细列表表头标题风格 **/
.Standard-DetailListTitleStyle{
  FONT-SIZE:14px;
  font-weight:600;
}

/** 明细列表功能按钮风格 **/
.Standard-DetailListButtonStyle{
  background-color:transparent;
  CURSOR:hand;
  HEIGHT:18px;
  WIDTH:18px;
  Padding-top:0px;
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  BORDER:#FFFFFF 0px #FFFFFF;
  VERTICAL-ALIGN:middle;
}

/** 定义信息列表标题单元格风格 **/
.Standard-ListTableTitleTRStyle{
  FONT-SIZE:12px;
  font-weight:600;
  line-height:25px;
  background-color:#3969E7;
  color:#FFFFFF
}
/**student**/
.Standard-ListTableTitleTRStyleblue{
  FONT-SIZE:12px;
  font-weight:600;
  line-height:25px;
  background-color:#068DA1;
  color:#FFFFFF
}
/**teacher**/
.Standard-ListTableTitleTRStylered{
  FONT-SIZE:12px;
  font-weight:600;
  line-height:25px;
  background-color:#D51D23;
  color:#FFFFFF
}

/**round**/
.Standard-ListTableTitleTRStyleydllow{
  FONT-SIZE:12px;
  font-weight:600;
  line-height:25px;
  background-color:#F7A404;
  color:#FFFFFF
}

/** 定义信息列表单行单元格风格 **/
.Standard-ListSampleTRStyle{
  Background-color:#F7FFFF;
  cursor:hand;
  FONT-SIZE:12px;
  line-height:15px;
}

/** 定义信息列表双行单元格风格 **/
.Standard-ListDoubleTRStyle{
  Background-color:#CEE7FF;
  cursor:hand;
  FONT-SIZE:12px;
  line-height:15px;
}
.AnDy{
  Background-color:#FFF6FF;
  cursor:hand;
  FONT-SIZE:12px;
  line-height:15px;
}
/**student **/
.Standard-ListDoubleTRStyleblue{
  Background-color: #D4F7FB;
  cursor:hand;
  FONT-SIZE:12px;
  line-height:15px;
}
/**red**/
.next1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #B21318;
	border-right-color: #B21318;
	border-bottom-color: #B21318;
	border-left-color: #B21318;
}

/**teacher **/
.Standard-ListDoubleTRStylered{
  Background-color: #FDE9EB;
  cursor:hand;
  FONT-SIZE:12px;
  line-height:15px;
}

/**round **/
.Standard-ListDoubleTRStyleyellow{
  Background-color: #F9EDDA;
  cursor:hand;
  FONT-SIZE:12px;
  line-height:15px;
}

.Standard-ListDoubleTRStyle2{
	Background-color:#0033CC;
	cursor:hand;
	FONT-SIZE:12px;
	line-height:22px;
	color: #ffffff;
 }
 .Standard-ListDoubleTRStyle3{
	Background-color:#E2E2E2;
	FONT-SIZE:12px;
	line-height:22px;
	color: #838384;
 }
 .Standard-ListDoubleTRStyle4{
	FONT-SIZE:12px;
	line-height:22px;
	color: #838384;
 }
 .Standard-ListDoubleTRStyle5{
	FONT-SIZE:12px;
	line-height:22px;
	color: #ffffff;
 }

/** 定义列表提示信息栏风格 **/
.Standard-QueryHideTableStyle{
  width:96%;
  border:0px;
  cellspacing:0px;
  cellpadding:0px;
  Background-color:#D6EFFF;
  FONT-SIZE:12px;
  height:25px;
}

/** 定义列表提示信息栏边框风格 **/
.Standard-ListTableTipSideStyle{
  height:2px;
  background-image:url(/internet/images/functionframe/dot.gif);
}

/** 定义列表提示信息栏边框风格 red**/
.Standard-ListTableTipSideStylered{
  height:2px;
  background-image:url(/internet/images/functionframe/dotred.gif);
}

/** 定义列表提示信息栏输入框风格 **/
.Standard-ListTableTipInputStyle
{
  border:1px #2151B5 solid;
  width:40px;
  height:17px;
}

/** 定义信息列表页面名称风格 **/
.Standard-BackgroundCategoryNameStyle{
    color:#000000;
    font-size:25px
}

/** 定义统计信息风格 **/
.Standard-StatisticsMessageStyle{
    font-family:New Century Schoolbook,Times, serif;
    font-weight:600;
    font-size:9pt;
    line-height:18px; 
    cursor:hand;   
  	color:#000000
}
.Standard-StatisticsValue{
    Font-size:14px;
    color:#FF0000
}
/** 定义翻页按钮风格 **/
/** 翻页按钮种类不同，需分开定义**/
INPUT.Standard-FirstPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 9px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url(/internet/images/functionframe/firstpage.gif);
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}
.Standard-PreviousPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 8px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url(/internet/images/functionframe/prepage.gif);
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}
.Standard-NextPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 8px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url(/internet/images/functionframe/nextpage.gif);
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}
.Standard-title{
	CURSOR : hand;
	text-decoration: none;
}
.Standard-LastPageButtonStyle{
    CURSOR : hand;
    HEIGHT : 8px;
    WIDTH : 9px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url(/internet/images/functionframe/lastpage.gif);
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle
}

/** 定义信息列表每一行的高度，信息列表的底色 **/
.Standard-ListTableStyle{
    width:96%;
    border:1px;
    cellspacing:1;
    cellpadding:0;
    hlcolor:#aaaaaa;
    bgcolor:#96b7d4;
}
INPUT.DefaultBtnAction
{
    CURSOR : hand;
    HEIGHT : 20px;
    WIDTH : 25px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url(/internet/images/functionframe/3point.gif);
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle;
    text-align:center;
}
INPUT.2CharBtnAction
{
    CURSOR : hand;
    HEIGHT : 20px;
    WIDTH : 37px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    background-image:url(/internet/images/functionframe/2.gif);
    BORDER: #FFFFFF1 0px #FFFFFF1;
    VERTICAL-ALIGN: middle;
    text-align:center;
}
HR
{
    COLOR: #339900;
    HEIGHT: 1px;
    width:98%;
    align = center
}

/** 定义下拉框风格 **/
.Standard-SelectStyle
{
  background-color:#D6EFFF;
}

/** 定义下拉框风格 **/
.Standard-SelectStyle2
{
  background-color:#EFF7FF;
}

/** 定义下拉框风格 **/
.Standard-SelectStyle3
{
  background-color:#6795E7;
  font-size: 12px;
  height: 17px;
  border: none;
  color: #ffffff;
}

/** 定义二维表输入域风格 **/
.EditTable-InputStyle
{
  border :1px #2151B5 solid;
  background-color:white;
}
</style>td {
	font-size: 12px;
	color: #000000;
	background-color: #99CC66;
}