.menu {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	text-indent: 12px;
	background-color: #336699;
	line-height: 20px;
	color: #FFFFFF;

}
a.menu:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #99CCFF;
	text-decoration: none;

}
.menu-route {
	font-family: "宋体";
	font-size: 12px;
	color: #330066;
	text-decoration: none;
	text-indent: 36pt;
	line-height: 30px;

}
.Result-title {
	font-size: 12px;
	line-height: 25px;
	color: #000066;
	background-color: #E1E5ED;
	text-indent: 24pt;
	border: none;



}
.Result-head {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #339966;
	background-color: #FFFFFF;
	text-align: center;

}
.Result-contentOdd {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	background-color: #ffffcc;
	text-align: center;

}
.Result-content {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-align: center;

}
.Result-bottom {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color: #E1E5ED;
	height: 25px;

}
.Input-title {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #000066;
	background-color: #E1E5ED;
	text-indent: 36px;
	text-align: left;
	font-weight: normal;


}
.Input-lable {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #339966;
	text-align: center;
}
.Input-text {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	border: 1px solid #000000;
	text-align: left;
	height: 18px;
	width: 150px;



}
.Input-head {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-align: center;
}
.Input-bottom {
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-color: #E1E5ED;
	height: 25px;

}
.text-area {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	border: 1px solid #000000;
	height: 80px;
	width: 200px;
}
.check-box {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	border: none;
	margin: 1px;
	padding: 1px;

}
.Bottom-Area {
	text-align: center;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	height: 20px;
	
}
.Space-Area {
	height: 30px;
}
.radio-button {
	font-family: "宋体";
}
.Input-select {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	line-height: 18px;
}
.button-sy {
	background-color: #CCCCCC;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
}
