BODY{	FONT-SIZE: 10pt;    COLOR: #000000; margin: 0px;  BACKGROUND-COLOR: #ffffff  }
.popupwindow {width:500px; height:400px}

A.topMenu { BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: white; TEXT-DECORATION: none }
A.leftMainMenu { BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: white; TEXT-DECORATION: none } 

A.leftChildMenu { BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699; TEXT-DECORATION: none } 
.topMenu {  } 
.subMenu { BACKGROUND: #014d98 }
.HighTopMenu { BACKGROUND: #014d98 }
.HighSubMenu { BACKGROUND: #3478D8 }
.menuBorder { BACKGROUND: #014d98 }
.subMenuBorder { BACKGROUND: #D1D1D2}
.currentTopMenu { FONT-SIZE: 12px; BACKGROUND: #3182C4; FONT-FAMILY: "宋体"; TEXT-DECORATION: none } 
.currentLeftMenu { FONT-SIZE: 12px; COLOR: #3182C4; FONT-FAMILY: "宋体"; TEXT-DECORATION: none } 
.currentParentLeftMenu { FONT-SIZE: 12px; BACKGROUND: #3182C4; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none } 
.leftMenu { FONT-SIZE: 12px; BACKGROUND: #6699cc; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none } 
DIV.title { FONT-SIZE: 18px; FONT-FAMILY: "华文新魏" } 

.text { FONT-SIZE: 9pt; COLOR: #000000; TEXT-ALIGN:right }

table.login { width:50%; height:80%; background-image:url('images/login-bg.gif')}
tr.logintext {FONT-SIZE: 10pt; COLOR: #000000; TEXT-ALIGN:left}
td.logintext {FONT-SIZE: 10pt; COLOR: #000000; TEXT-ALIGN:left}

TABLE.space	{ width:100%; BORDER-RIGHT: 0px; BORDER-TOP: 0px;height:20px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 

table.route {width:99%; cellspacing: 0px; cellpadding:0px; border: 0px; TEXT-ALIGN: center; BORDER-RIGHT: 0px; BORDER-TOP: 0px;height:20px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 
tr.route {}
td.route_1 {width:5%; TEXT-ALIGN: left; FONT-SIZE: 10pt;background-image:url('line-bg.gif') }
td.route_2 {width:30%; TEXT-ALIGN: left; FONT-SIZE: 10pt;background-image:url('line-bg.gif')}
td.route_3 {width:50%; TEXT-ALIGN: right;FONT-SIZE: 10pt;background-image:url('line-bg.gif')}
td.route_4 {width:15%; TEXT-ALIGN: center;FONT-SIZE: 10pt;background-image:url('line-bg.gif')}

TABLE.all	{ cellspacing: 0px; cellpadding:0px; TEXT-ALIGN: center; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体"; height:100% } 
TR.allhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体" ;TEXT-ALIGN: center; vertical-align:top; height:15%} 
TD.allhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体" ;TEXT-ALIGN: center; vertical-align:top; height:15%} 
TR.allbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px ;TEXT-ALIGN: center; vertical-align:top; height:10%} 
TD.allbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px ;TEXT-ALIGN: center; vertical-align:top; height:10%} 
TR.allcontent { FONT-SIZE: 9pt; COLOR: #FFFFFF; FONT-FAMILY: "宋体";TEXT-ALIGN: center; vertical-align:top; height:75%} 
TD.allcontent { FONT-SIZE: 9pt; COLOR: #FFFFFF; FONT-FAMILY: "宋体";TEXT-ALIGN: center; vertical-align:top; height:75% } 

TABLE.TOP	{ width:99%;  BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt;  BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体";TEXT-ALIGN: center } 
TR.toptitle {  FONT-SIZE: 9pt; FONT-FAMILY: "宋体" } 
TD.toptitleleft {  FONT-SIZE: 10pt; FONT-FAMILY: "宋体";width:6%; background-image:url('top-bg1.gif') }
TD.toptitlecenter { FONT-WEIGHT: bold; FONT-SIZE: 10pt;FONT-FAMILY: "宋体"; width:60%; TEXT-ALIGN: left; background-image:url('top-bg1.gif')} 
TD.toptitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: white url('top-bg2.gif'); FONT-FAMILY: "宋体"; background-image:url('top-bg2.gif') } 
TR.topcontent { FONT-SIZE: 10pt; COLOR: #FFFFFF; TEXT-ALIGN: center; FONT-FAMILY: "宋体"; font-weight:bold; HEIGHT: 25px; background-image:url('menu-bg.gif')} 
TD.topcontent { FONT-SIZE: 10pt; COLOR: #FFFFFF; TEXT-ALIGN: center; FONT-FAMILY: "宋体"; font-weight:bold; HEIGHT: 25px; background-image:url('menu-bg.gif')} 

TABLE.index { cellspacing:0px; width:100%; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white;; BORDER-RIGHT: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 
TR.indextitle {  FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: "宋体"; background-image: url('title-res-1.gif'); list-style-image:url('restitle-icon.gif');list-style-position: inside;text_align:left;HEIGHT:20px } 
td.indextitle  {  FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: "宋体"; background-image: url('title-res-1.gif'); list-style-image:url('restitle-icon.gif');list-style-position: inside;text_align:left;HEIGHT:20px } 
TR.indextitleright { FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-ALIGN:right; background-image:url('title-res-2.gif') } 
td.indextitleright { font-size: 9pt; color: #000000; font-family: 宋体; TEXT-ALIGN:right; background-image: url('title-res-2.gif') }
TR.indexhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:center; BACKGROUND: #C1DEDF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:20px } 
TD.indexhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:center; BACKGROUND: #C1DEDF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:20px } 
TR.indexbottom { FONT-SIZE: 10pt; BACKGROUND: #DAD9D9; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.indexbottom { FONT-SIZE: 10pt; BACKGROUND: #EAEAEA; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.indexcontent { FONT-SIZE: 10pt; BACKGROUND: #white; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.indexcontent { FONT-SIZE: 10pt; BACKGROUND: #white; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.indexcontent_ { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.indexcontent_ { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.indexdivide { FONT-SIZE: 10pt; BACKGROUND: #ffffcc; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.indexdivide { FONT-SIZE: 10pt; BACKGROUND: #ffffcc; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TABLE.query { cellspacing:0px; width:98%; BORDER-TOP: 0px none border-style; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-RIGHT: 0px none; BORDER-LEFT: 0px none; BORDER-BOTTOM: 0px none; FONT-FAMILY: "宋体" } 
TR.query_title {  FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:24px; background-image:url('title-bg.gif') } 
td.query_title  {  FONT-WEIGHT: bold; font-size: 10pt; color: #000000; font-family: 宋体; height: 24px; background-image: url('title-bg.gif') }
TR.query_head { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #CFCFCF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TD.query_head { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #CFCFCF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TR.query_bottom { FONT-SIZE: 10pt; BACKGROUND: #CBCDCE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.query_bottom { FONT-SIZE: 10pt; BACKGROUND: #CBCDCE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.query_content { FONT-SIZE: 10pt; BACKGROUND: #eeeeee; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.query_content { FONT-SIZE: 10pt; BACKGROUND: #eeeeee; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TABLE.add { cellspacing:0px; width:100%; BORDER-TOP: 0px none border-style; FONT-SIZE: 10pt; BACKGROUND: #eeeeee; BORDER-RIGHT: 0px none; BORDER-LEFT: 0px none; BORDER-BOTTOM: 0px none; FONT-FAMILY: "宋体" } 
TR.add_title {  FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:24px; background-image:url('title-bg.gif') } 
td.add_title  {  FONT-WEIGHT: bold; font-size: 10pt; color: #000000; font-family: 宋体; height: 24px; background-image: url('title-bg.gif') }
TR.add_head { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #CFCFCF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TD.add_head { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #CFCFCF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TR.add_bottom { FONT-SIZE: 10pt; BACKGROUND: #CBCDCE; FONT-FAMILY: "宋体";} 
TD.add_bottom { FONT-SIZE: 10pt; BACKGROUND: #CBCDCE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.add_content { FONT-SIZE: 10pt; BACKGROUND: #eeeeee; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.add_content { FONT-SIZE: 10pt; BACKGROUND: #eeeeee; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TABLE.resbutton{ width:100%; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" ;cellspacing: 0px; cellpadding:0px; }
tr.resbutton { width:100%; FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #AEBBC6; COLOR: #000000}
td.resbuttonleft { width:40%; text-align:left }
td.resbuttoncenter { width:30%; text-align:center }
td.resbuttonright { width:30%; text-align:right }

TABLE.result{ width:100%;  cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; FONT-FAMILY: "宋体" } 
TR.result_title {  FONT-WEIGHT: bold;  FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "宋体"; background-image: url('restitle-bg.gif'); list-style-image:url('restitle-icon.gif');list-style-position: inside;text_align:left;HEIGHT:22px } 
TD.result_title {  FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "宋体";   background-image: url('restitle-bg.gif'); HEIGHT:22px } 
TR.result_head { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:center; BACKGROUND: #C1DEDF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:20px } 
TD.result_head { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:center; BACKGROUND: #C1DEDF; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:20px  } 
TR.result_bottom { FONT-SIZE: 10pt; BACKGROUND: #CBCDCE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.result_bottom { FONT-SIZE: 10pt; BACKGROUND: #CBCDCE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.result_content { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TD.result_content { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TR.result_content_ { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TD.result_content_ { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px}
TR.result_divide { FONT-SIZE: 10pt; BACKGROUND: #ffffcc; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.result_divide { FONT-SIZE: 10pt; BACKGROUND: #ffffcc; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.onmouseover { background:#336699; border:1px solid #336699;color:#ffffff;FONT-FAMILY: "宋体";FONT-SIZE: 10pt; HEIGHT: 20px }
TD.onmouseover { background:#336699; border:1px solid #336699;color:#ffffff;FONT-FAMILY: "宋体";FONT-SIZE: 10pt; HEIGHT: 20px }

TABLE.bottom{ width:99%; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 
TR.bottomhead { color:#000080 } 
TD.bottomhead { color:#000080 } 
TR.bottomcontent { FONT-SIZE: 8pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px; HEIGHT:20px} 
TD.bottomcontent { FONT-SIZE: 8pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px; HEIGHT:20px} 

TABLE.window { width:96%; text-align:center; border-color: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;  cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体" } 
TR.wintitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #A6A4A4; COLOR: white; FONT-FAMILY: "宋体";text-align:center; HEIGHT:25px } 
TD.wintitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #A6A4A4; COLOR: white; FONT-FAMILY: "宋体";text-align:center; HEIGHT:25px} 
TR.winhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:center; BACKGROUND: white; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px } 
TD.winhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:left BACKGROUND: white; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px  } 
TR.winbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.winbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.wincontent { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TD.wincontent { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TABLE.hci { cellspacing:0px; width:100%; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white;; BORDER-RIGHT: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 
TR.hcititle { FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:20px; background-image:url('title-bg.gif') } 
td.hcititle  { font-weight: bold; font-size: 10pt; color: #000000; font-family: 宋体; height: 25px; background-image: url('title-bg.gif') }
TR.hcihead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #CBE2E1; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TD.hcihead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #CBE2E1; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TR.hcibottom { FONT-SIZE: 10pt; BACKGROUND: #DAD9D9; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.hcibottom { FONT-SIZE: 10pt; BACKGROUND: #EAEAEA; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.hcicontent { FONT-SIZE: 10pt; BACKGROUND: #ECFEFD; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.hcicontent { FONT-SIZE: 10pt; BACKGROUND: #ECFEFD; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.hcidivide { FONT-SIZE: 10pt; BACKGROUND: #ECFEFD; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.hcidivide { FONT-SIZE: 10pt; BACKGROUND: #ECFEFD; FONT-FAMILY: "宋体"; HEIGHT: 20px }


.tabCommon { FONT-WEIGHT: 400; FONT-SIZE: 9pt; background-image:url('tabcommon.gif');width:87px ;cursor:hand}
.tabSelected {FONT-WEIGHT: 400; FONT-SIZE: 9pt;background-image:url('tabselected.gif');width:87px;cursor:hand}

.must 
a {color:#000099;text-decoration: none} 
a:link {color:#000099;text-decoration: none} 
a:visited {color:#000099;text-decoration: none} 
a:hover {color:#3399ff;text-decoration:underline} 
a:active {color:red;text-decoration: none}

.button { BACKGROUND:#254879; COLOR: #e7e7e7;width:80px;HEIGHT: 20px ;FONT-SIZE: 9pt}
.login { FONT-SIZE: 10pt;  FONT-FAMILY: "宋体";color:#000000 }
.loginout{ FONT-WEIGHT: bold;FONT-SIZE: 9pt;  FONT-FAMILY: "宋体";color:#ffffff }
.loginbottom{ FONT-SIZE: 9pt;  FONT-FAMILY: "宋体";color:#000000 }

INPUT.mytext

{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #ffffff;
    BORDER-BOTTOM-WIDTH: 1.5px;
    BORDER-BOTTOM-COLOR: #000000;
    BORDER-TOP-COLOR: #000000;
    FONT-FAMILY: monospace;
    BORDER-RIGHT-WIDTH: 1.5px;
    BORDER-RIGHT-COLOR: #000000

}
INPUT.mycheckbox
{

    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #5BCEFF;
    BORDER-BOTTOM-WIDTH: 1.5px;
    BORDER-BOTTOM-COLOR: #2B90C2;
    BORDER-TOP-COLOR: #5BCEFF;
    FONT-FAMILY: monospace;
    BORDER-RIGHT-WIDTH: 1.5px;
    BORDER-RIGHT-COLOR: #2B90C2
}
INPUT.myradio


select.myselect
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #5BCEFF;
    BORDER-BOTTOM-WIDTH: 1.5px;
    BORDER-BOTTOM-COLOR: #2B90C2;
    BORDER-TOP-COLOR: #5BCEFF;
    FONT-FAMILY: monospace;
    BORDER-RIGHT-WIDTH: 1.5px;
    BORDER-RIGHT-COLOR: #2B90C2
	
}
.indextitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: #464645; FONT-FAMILY: "宋体"; HEIGHT:25px; background-image:url('title-index-bg.gif') } 


textarea.myarea
{
}

iframe.myframe
{
HEIGHT: 100%;text_align:center; VISIBILITY: inherit; WIDTH: 100%; Z-INDEX: 1;border-style: none;frame-border-top-width: 0px; frame-border-right-width: 0px; frame-border-bottom-width: 0px; frame-border-left-width: 0px

}

.tab {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 9pt; PADDING-TOP: 2px; TEXT-ALIGN: center
}
DIV {
	SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; SCROLLBAR-SHADOW-COLOR: gray; SCROLLBAR-3DLIGHT-COLOR: gray; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-DARKSHADOW-COLOR: white; SCROLLBAR-BASE-COLOR: #cccccc
}