BODY{	FONT-SIZE: 12px;    COLOR: #000000; margin: 0px;    }
td {font-size: 12px;}
.popupwindow {width:500px; height:400px}
.leftBody {BACKGROUND:#DFEEFF}
.subMenu {BACKGROUND: #3482A7 }
.HighSubMenu { BACKGROUND: #98B1BD }
.subMenuBorder { BACKGROUND: #E4E4E5}
.searchinput { width: 160px;}
.tips {FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000;}

.text { FONT-SIZE: 9pt; COLOR: #000000; TEXT-ALIGN:right }

TABLE.search { width: 176;}
TR.searchtitle {FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000099; }

table.login { width:50%; height:80%; background-image:url(./images/login-bg.gif)}
tr.logintext {FONT-SIZE: 10pt; COLOR: #000000; TEXT-ALIGN:left}
td.logintext {FONT-SIZE: 10pt; COLOR: #000000; TEXT-ALIGN:left}

TABLE.none	{ width:100%; BORDER-RIGHT: 0px; BORDER-TOP: 0px;height:20px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 

table.route {width:99%; cellspacing: 0px; cellpadding:0px; border: 0px; TEXT-ALIGN: center; BORDER-RIGHT: 0px; BORDER-TOP: 0px;height:20px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 
tr.route {} 
td.route_1 {width:5%; TEXT-ALIGN: left; FONT-SIZE: 10pt;background-image:url(./line-bg.gif) }
td.route_2 {width:30%; TEXT-ALIGN: left; FONT-SIZE: 10pt;background-image:url(./line-bg.gif)}
td.route_3 {width:50%; TEXT-ALIGN: right;FONT-SIZE: 10pt;background-image:url(./line-bg.gif)}
td.route_4 {width:15%; TEXT-ALIGN: center;FONT-SIZE: 10pt;background-image:url(./line-bg.gif)}

TABLE.all	{ cellspacing: 0px; cellpadding:0px; TEXT-ALIGN: center; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体"; height:100% } 
TR.allhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体" ;TEXT-ALIGN: center; vertical-align:top; height:15%} 
TD.allhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体" ;TEXT-ALIGN: center; vertical-align:top; height:15%} 
TR.allbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px ;TEXT-ALIGN: center; vertical-align:top; height:10%} 
TD.allbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px ;TEXT-ALIGN: center; vertical-align:top; height:10%} 
TR.allcontent { FONT-SIZE: 9pt; COLOR: #FFFFFF; FONT-FAMILY: "宋体";TEXT-ALIGN: center; vertical-align:top; height:75%} 
TD.allcontent { FONT-SIZE: 9pt; COLOR: #FFFFFF; FONT-FAMILY: "宋体";TEXT-ALIGN: center; vertical-align:top; height:75% } 


TABLE.TOP	{ width:99%;  BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt;  BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体";TEXT-ALIGN: center } 
TR.toptitle {  FONT-SIZE: 9pt; FONT-FAMILY: "宋体" } 
TD.toptitleleft {  FONT-SIZE: 10pt; FONT-FAMILY: "宋体";width:6%; background-image:url(./top-bg1.gif) }
TD.toptitlecenter { FONT-WEIGHT: bold; FONT-SIZE: 10pt;FONT-FAMILY: "宋体"; width:60%; TEXT-ALIGN: left; background-image:url(./top-bg1.gif)} 
TD.toptitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; background-image:url(./top-bg2.gif) } 
TR.topcontent { FONT-SIZE: 10pt; COLOR: #FFFFFF; TEXT-ALIGN: center; FONT-FAMILY: "宋体"; font-weight:bold; HEIGHT: 25px; background-image:url(./menu-bg.gif)} 
TD.topcontent { FONT-SIZE: 10pt; COLOR: #FFFFFF; TEXT-ALIGN: center; FONT-FAMILY: "宋体"; font-weight:bold; HEIGHT: 25px; background-image:url(./menu-bg.gif)} 


TABLE.hci { width:95%;  border-color: #eeeeee; border-style: solid; border-width: 1px; BORDER-TOP: 1px; FONT-SIZE: 10pt; BACKGROUND: white;; BORDER-RIGHT: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; FONT-FAMILY: "宋体" } 
TR.hcititle { vertical-align:center; FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: white; FONT-FAMILY: "宋体"; HEIGHT:23px; BACKGROUND: #9ACB34; } 
td.hcititle  { vertical-align:center; font-weight: bold; font-size: 10pt; color: white; font-family: 宋体; height: 23px; BACKGROUND: #9ACB34; list-style-image: url('./TITLE-icon.gif') }
TR.hcihead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #E7E7E7; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TD.hcihead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #E7E7E7; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TR.hcibottom { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #E7E7E7; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center } 
TD.hcibottom { FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #E7E7E7; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px; text-align:center  } 
TR.hcicontent { FONT-SIZE: 10pt; BACKGROUND: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.hcicontent { FONT-SIZE: 10pt; BACKGROUND: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.hcidivide { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.hcidivide { FONT-SIZE: 10pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TABLE.resbutton{ width:100%; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" ;cellspacing: 0px; cellpadding:0px; }
tr.resbutton { width:100%; FONT-WEIGHT: 400; FONT-SIZE: 10pt; BACKGROUND: #AEBBC6; COLOR: #000000}
td.resbuttonleft { width:40%; text-align:left }
td.resbuttoncenter { width:30%; text-align:center }
td.resbuttonright { width:30%; text-align:right }

TABLE.indexdis { width:98%; border-color: #ffffff; border-style: solid; border-width: 1px; cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; FONT-FAMILY: "宋体"} 
TABLE.indexdistitle { width:98%; BACKGROUND: #D9D9D9; border-width: 0px; FONT-SIZE: 10pt; FONT-FAMILY: "宋体"} 

TABLE.sort{ width:100%; border-color: #eeeeee; border-style: solid; border-width: 1px; cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; FONT-FAMILY: "宋体"} 

TABLE.result{ width:95%; border-color: #eeeeee; border-style: solid; border-width: 1px; cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; FONT-FAMILY: "宋体"} 
TR.restitle { vertical-align:center; FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: white; FONT-FAMILY: "宋体"; HEIGHT:23px; BACKGROUND: #9ACB34; } 
td.restitle  { vertical-align:center; font-weight: bold; font-size: 10pt; color: white; font-family: 宋体; height: 23px; BACKGROUND: #9ACB34; list-style-image: url('./TITLE-icon.gif') }
TR.reshead { FONT-WEIGHT: bold;  FONT-SIZE: 10pt; text-align:center; BACKGROUND: #eeeeee; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:25px } 
TD.reshead { FONT-WEIGHT: bold;  FONT-SIZE: 10pt; text-align:center; BACKGROUND: #eeeeee; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:25px ;cursor:hand; } 
TR.resbottom { FONT-SIZE: 10pt; BACKGROUND: #EDEEEE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.resbottom { FONT-SIZE: 10pt; BACKGROUND: #EDEEEE; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.rescontent { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TD.rescontent { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TR.rescontent_ { FONT-SIZE: 10pt; BACKGROUND: #F2F2F2; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TD.rescontent_ { FONT-SIZE: 10pt; BACKGROUND: #F2F2F2; FONT-FAMILY: "宋体"; HEIGHT: 20px}
TR.resdivide { FONT-SIZE: 12px; BACKGROUND: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.resdivide { FONT-SIZE: 12px; BACKGROUND: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TABLE.resBottom { width:100%; BACKGROUND: #eeeeee; border-color: #eeeeee; border-style: solid; border-width: 1px; cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; FONT-FAMILY: "宋体"} 

TABLE.bottom{  BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10pt; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: "宋体" } 
TR.bottomhead { color:#000080 } 
TD.bottomhead { color:#000080 } 
TR.bottomcontent { FONT-SIZE: 8pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px; HEIGHT:20px} 
TD.bottomcontent { FONT-SIZE: 8pt; BACKGROUND: #e7e7e7; FONT-FAMILY: "宋体"; HEIGHT: 20px; HEIGHT:20px} 

TABLE.window { text-align:center; border-color: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;  cellpadding:0px; cellspacing:0px;  FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体" } 
TR.wintitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #A6A4A4; COLOR: white; FONT-FAMILY: "宋体";text-align:center; HEIGHT:25px } 
TD.wintitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #A6A4A4; COLOR: white; FONT-FAMILY: "宋体";text-align:center; HEIGHT:25px} 
TR.winhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:center; BACKGROUND: white; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px } 
TD.winhead { FONT-WEIGHT: 400; FONT-SIZE: 10pt; text-align:left BACKGROUND: white; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT:22px  } 
TR.winbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TD.winbottom { FONT-SIZE: 10pt; BACKGROUND: white; FONT-FAMILY: "宋体"; HEIGHT: 20px } 
TR.wincontent { FONT-SIZE: 10pt; BACKGROUND: #F2F2F2; FONT-FAMILY: "宋体"; HEIGHT: 20px} 
TD.wincontent { FONT-SIZE: 10pt; BACKGROUND: #F2F2F2; FONT-FAMILY: "宋体"; HEIGHT: 20px } 

TR.indextitle { FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋体"; background-image: url(./title-res-1.gif);HEIGHT:22px;list-style-position: inside;text_align:left;HEIGHT:20px } 
TD.indextitle { FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "宋体"; background-image: url(./title-res-1.gif); HEIGHT:22px } 
TD.indextitle2{ FONT-SIZE: 10pt;  COLOR: #000000; FONT-FAMILY: "宋体"; background-image: url(./title-2-.gif); HEIGHT:20px } 


.tabCommon {  FONT-SIZE: 9pt; COLOR: #000000;  background-image:url(./tab_select_05.gif);cursor:hand}
.tabSelected { FONT-SIZE: 9pt; COLOR: #000000; background-image:url(./tab_normal.gif);cursor:hand}

.must 
a {color:#000099;text-decoration: none} 
a:link {color:#000099;text-decoration: none} 
a:visited {color:#000099;text-decoration: none} 
a:hover {color:#3399ff;text-decoration:underline} 
a:active {color:red;text-decoration: none}

.button { BACKGROUND:#254879; COLOR: #e7e7e7;width:80px;HEIGHT: 20px ;FONT-SIZE: 9pt}
.login { FONT-SIZE: 10pt;  FONT-FAMILY: "宋体";color:#000000 }
.loginout{ FONT-WEIGHT: bold;FONT-SIZE: 9pt;  FONT-FAMILY: "宋体";color:#ffffff }
.loginbottom{ FONT-SIZE: 9pt;  FONT-FAMILY: "宋体";color:#000000 }

INPUT.mytext

{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #ffffff;
    BORDER-BOTTOM-WIDTH: 1.5px;
    BORDER-BOTTOM-COLOR: #000000;
    BORDER-TOP-COLOR: #000000;
    FONT-FAMILY: monospace;
    BORDER-RIGHT-WIDTH: 1.5px;
    BORDER-RIGHT-COLOR: #000000

}
INPUT.mycheckbox
{

    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #5BCEFF;
    BORDER-BOTTOM-WIDTH: 1.5px;
    BORDER-BOTTOM-COLOR: #2B90C2;
    BORDER-TOP-COLOR: #5BCEFF;
    FONT-FAMILY: monospace;
    BORDER-RIGHT-WIDTH: 1.5px;
    BORDER-RIGHT-COLOR: #2B90C2
}
INPUT.myradio


select.myselect
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #5BCEFF;
    BORDER-BOTTOM-WIDTH: 1.5px;
    BORDER-BOTTOM-COLOR: #2B90C2;
    BORDER-TOP-COLOR: #5BCEFF;
    FONT-FAMILY: monospace;
    BORDER-RIGHT-WIDTH: 1.5px;
    BORDER-RIGHT-COLOR: #2B90C2
	
}
.indextitle { FONT-WEIGHT: bold; FONT-SIZE: 10pt;  COLOR: #464645; FONT-FAMILY: "宋体"; HEIGHT:25px; background-image:url(./title-index-bg.gif) } 


textarea.myarea
{
}

iframe.myframe
{
HEIGHT: 100%;text_align:center; VISIBILITY: inherit; WIDTH: 100%; Z-INDEX: 1;border-style: none;frame-border-top-width: 0px; frame-border-right-width: 0px; frame-border-bottom-width: 0px; frame-border-left-width: 0px

}
